---
import type { Language } from '@/i18n/config'
import Button from '@/components/Button.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Navbar from '@/components/Navbar.astro'
import CodeCopyButton from '@/components/Widgets/CodeCopyButton.astro'
import GithubCard from '@/components/Widgets/GithubCard.astro'
import ImageZoom from '@/components/Widgets/ImageZoom.astro'
import SearchModal from '@/components/SearchModal.astro'
import MediaEmbed from '@/components/Widgets/MediaEmbed.astro'
import SoundEffect from '@/components/Widgets/SoundEffect.astro'
import { themeConfig } from '@/config'
import Head from '@/layouts/Head.astro'
import { getPageInfo } from '@/utils/page'
import '@/styles/comment.css'
import '@/styles/extension.css'
import '@/styles/font.css'
import '@/styles/global.css'
import '@/styles/lqip.css'
import '@/styles/markdown.css'
import '@/styles/transition.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postSlug?: string
  supportedLangs?: Language[]
}

const { postTitle, postDescription, postSlug, supportedLangs = [] } = Astro.props
const { isPost, isSearch } = getPageInfo(Astro.url.pathname)
const fontStyle = themeConfig.global.fontStyle === 'serif' ? 'font-serif' : 'font-sans'
const MarginBottom = isPost && themeConfig.comment.enabled
  ? 'mb-10' // Post page with comment
  : 'mb-12' // Other pages without comment
---

<html
  lang={Astro.currentLocale}
  class:list={[
    fontStyle,
    isPost ? 'scroll-smooth' : '',
  ]}
>
  <Head {postTitle} {postDescription} {postSlug} />
  <body data-pagefind-ignore={isPost ? undefined : 'all'}>
    <div
      class="group mx-auto max-w-205.848 min-h-vh w-full min-h-dvh"
      p="x-[min(7.25vw,3.731rem)] y-10"
      lg="mx-[max(5.75rem,calc(50vw-34.25rem))] my-20 max-w-[min(calc(75vw-16rem),44rem)] min-h-full p-0"
      >
      <Header />
      <Navbar />
      <!-- 图像 -->
      <div
        class="hidden lg:block fixed top-14 z--1 pointer-events-none"
        style="
          --side-gap: 2rem;
          left: calc(50% + min(calc(37.5vw - 8rem), 22rem) + var(--side-gap));
        "
      >
        <div
          class:list={[
            "mt-8 w-42 overflow-hidden rounded-xl border border-secondary/10 shadow-sm",
            "op-0 blur-md scale-95 transition-all duration-700 ease-in-out",
            "group-hover:(op-50 blur-none scale-100)"
          ]}
        >
          <img
            src="https://img.theslowmo.com/2026/02/53b430a94fe1774680cd438cbe36658c.webp"
            alt="Side Banner"
            class="w-full object-cover"
            loading="lazy"
          />
        </div>
      </div>
      <main
        class={MarginBottom}
        data-pagefind-body={isPost ? '' : undefined}
      >
        <slot />
      </main>
      <Footer />
    </div>
    <Button supportedLangs={supportedLangs} />
    <SoundEffect />
    <CodeCopyButton />
    <GithubCard />
    <MediaEmbed />
    <ImageZoom />
    <SearchModal autoOpen={isSearch} />
  </body>
</html>
